.header {
    background: linear-gradient(90deg, hsl(34, 89%, 64%), hsl(28, 76%, 72%));
    color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    border-bottom: 2px solid hsl(28, 66%, 55%);
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navItem {
    background-color: linear-gradient(145deg, hsl(35, 97%, 61%), hsl(42, 100%, 88%));
    color: hsl(240, 28%, 14%);
    border: 2px hsl(0, 100%, 30%) solid;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    box-shadow: -1.5px -1.5px 3px hsla(0, 0%, 0%, 0.7), 1.5px 1.5px 3px hsla(0, 0%, 100%, 0.9);
    transition: all 0.1s ease;
}

.navItem:hover {
    background: linear-gradient(45deg, hsl(0, 0%, 90%), hsl(0, 0%, 94%));
    box-shadow: inset -2px -2px 4px hsla(0, 0%, 0%, 0.2), 2px 2px 4px hsla(0, 0%, 100%, 0.8);
}

.navItem:active {
    background: linear-gradient(145deg, hsl(0, 0%, 84%), hsl(0, 0%, 94%));
    box-shadow: inset -1px -1px 2px hsla(0, 0%, 0%, 0.3), 1px 1px 2px hsla(0, 0%, 100%, 0.8);
    transform: translateY(2px);
}