.mainArea {
    height: 500px;
    overflow: hidden;
    transition: height 0.3s ease;
    padding: 20px;
    text-align: center;
    background-color: hsl(180, 100%, 95%);
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.1);
}

/* スクロールサイドバー */
.scrollable {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding-right: 10px;    /*スクロールサイドバーの余白*/
    box-sizing: border-box;
    background: hsl(0, 0%, 96%);
    border-radius: 8px;
    box-shadow: inset 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.scrollable::-webkit-scrollbar {
    width: 12px;    /*スクロールバーの幅*/
}

.scrollable::-webkit-scrollbar-track {
    background: hsl(0, 0%, 88%);    /*スクロールバーのトラック部分の色*/
    border-radius: 8px; /*滑らかな角丸*/
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: linear-gradient(90deg, hsl(243, 100%, 69%), hsl(206, 69%, 59%));
    border-radius: 8px;
    border: 2px solid hsl(0, 0%, 96%);  /*スクロールバーと背景の間にスペースを作る*/
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, hsl(244, 62%, 58%), hsl(206, 52%, 51%));
}

.projects {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.list {
    list-style-position: outside;   /*マーカーを左に揃える*/
    margin: 0 auto;
    padding-left: 20px;
    margin: 0;
    text-align: center;
    background-color: hsla(220, 40%, 80%, 0.5);
    border-radius: 6px;
    display: inline-block;
}

.listItem {
    margin-top: 10px;
    line-height: 1.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: hsl(210, 20%, 30%);
    position: relative;
    cursor: pointer;
}

.listItem::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, hsl(163, 73%, 75%), hsl(220, 73%, 75%));
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: 3px;
    left: 0;
}

.listItem:hover::after {
    width: 100%;
}

.text {
    color: hsl(210, 20%, 30%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva Verdana, sans-serif;
    line-height: 1.8;
    margin: 8px 0;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.text::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, hsl(163, 73%, 75%), hsl(220, 73%, 75%));
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: 3px;
    left: 0;
}

.text:hover::after {
    width: 100%;
}

.imageContainer {
    width: 300px;
    height: auto;
    overflow: hidden;
    border: 5px solid hsl(163, 73%, 75%);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 6px 12px hsla(0, 0%, 0%, 0.15);
    position: relative;
}

.imageSlider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: trnasform 0.5s ease-in-out;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}