.footer {
    text-align: center;
    background-color: hsl(210, 36%, 98%);
    padding: 20px;
    margin-top: 10px;
    border-top: 2px solid hsl(210, 22%, 90%);
}

.comment {
    background-color: hsla(198, 80%, 40%, 0.1);
    color: hsl(210, 22%, 30%);
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    font-size: 14px;
}

.video {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin-top: 3px;
    border: 3px solid hsl(210, 22%, 90%);
    border-radius: 8px;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.15);
}